<div class="container-fluid py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Gestion des Utilisateurs</h2>
        <button class="btn btn-primary" (click)="addUser()">
            <i class="bi bi-person-plus-fill me-2"></i> Ajouter un utilisateur
        </button>
    </div>

    <div class="card shadow-sm border-0 rounded-4">
        <div class="card-body p-4">
            <div class="table-responsive">
                <table class="table table-hover align-middle mb-0">
                    <thead class="bg-light">
                        <tr>
                            <th scope="col">Ref°</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Rôle</th>
                            <th scope="col">Statut</th>
                            <th scope="col" class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <th scope="row">{{ user._id }}</th>
                            <td>{{ user.nom }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.role }}</td>
                            <td>
                                <span class="badge" 
                                      [ngClass]="{
                                          'bg-success': user.status === 'active',
                                          'bg-danger': user.status === 'inactive'
                                      }">
                                    {{ user.status }}
                                </span>
                            </td>
                            <td class="text-end">
                                <button class="btn btn-sm btn-outline-primary me-2" (click)="editUser()" title="Modifier">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button
                                    class="btn btn-sm me-2"
                                    [ngClass]="{
                                        'btn-outline-danger': user.status === 'active',
                                        'btn-outline-success': user.status === 'inactive'
                                    }"
                                    (click)="toggleUserStatus(user)"
                                    [title]="user.status === 'active' ? 'Désactiver' : 'Activer'">

                                    <i
                                        class="bi"
                                        [ngClass]="{
                                        'bi-person-x': user.status === 'active',
                                        'bi-person-check': user.status === 'inactive'
                                        }">
                                    </i>
                                </button>

                                <button class="btn btn-sm btn-outline-secondary" (click)="resetPassword(user)" title="Réinitialiser mot de passe">
                                    <i class="bi bi-arrow-clockwise"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p-paginator 
                    [rows]="size" 
                    [totalRecords]="totalElements" 
                    (onPageChange)="onPageChange($event)" 
                    [rowsPerPageOptions]="[5, 10, 15]">
                </p-paginator>
            </div>
            
            <div *ngIf="users.length === 0" class="alert alert-info mt-4 text-center">
                Aucun utilisateur à afficher.
            </div>
        </div>
    </div>
</div>
