<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100" style="width: 250px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4 fw-bold">ADMIN PANEL</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <i class="bi bi-speedometer2 me-2"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-table me-2"></i> Commandes
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-grid me-2"></i> Produits
            </a>
        </li>
    </ul>
</div>