.login-container {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
                url('https://fqjltiegiezfetthbags.supabase.co/storage/v1/object/public/block.images/blocks/signin/signin-glass.jpg');
    background-size: cover;
    background-position: center;
}

.glass-card {
    width: 100%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(20px);         
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
}

.custom-input {
.input-group-text, .form-control {
    border-color: rgba(255, 255, 255, 0.2) !important;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.input-group-text {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.form-control {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    
        &::placeholder {
        color: rgba(255, 255, 255, 0.6);
        }
    }
}

.btn-dark {
    background-color: #000;
    border: none;
        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
    }
}

.hover-white:hover {
    color: white !important;
}