<div class="d-flex flex-column min-vh-100">
    <div class="flex-grow-1">
        <router-outlet></router-outlet>
    </div>

    <footer class="bg-white border-top py-3 mt-4">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Centre commercial, MasterI fev 2026</div>
                <div>
                    <ul>
                        <li>ANDRIANARIMALALA Rindra Ny Aiko Antonio 1935</li>
                        <li>RABEARISOA Fitahina Sedera 1972</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

