footer {
    /* S'assure que le footer ne se fond pas dans le fond gris de la page */
    z-index: 10;
    background-color: #ffffff;
}

/* Optionnel : si vous voulez un footer très discret */
.text-muted {
    font-size: 0.85rem;
}
footer {
    font-family: 'Inter', sans-serif;
}

.text-secondary-hover:hover {
    color: var(--bs-primary) !important;
    cursor: pointer;
    transition: 0.3s;
}

footer a:hover {
    color: white !important;
    transition: 0.3s;
}

footer .badge {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}