/* Animation de la carte au survol */
.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}



/* Le conteneur de l'image */
.image-container {
    width: 100%;
    height: 180px; /* On fixe la hauteur identique à celle définie pour .shop-img */
    background-color: #ffffff; /* Fond blanc par défaut */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid #f0f0f0; /* Optionnel : une petite ligne pour délimiter le blanc */
}

/* On s'assure que l'image remplit tout le div si elle existe */
.shop-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card:hover .product-img {
    transform: scale(1.1);
}

/* Badge stylisé */
.badge {
    font-size: 0.75rem;
    padding: 6px 12px;
    border-radius: 50px;
}

/* Titre du produit */
.card-title {
    font-size: 1.1rem;
    display: -webkit-box;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 2.8rem; /* Assure l'alignement même avec des titres courts */
}