<div class="container-fluid py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Gestion des Catégories</h2>
        <button class="btn btn-primary" (click)="addRole()">
            <i class="bi bi-person-plus-fill me-2"></i> Ajouter une catégorie
        </button>
    </div>

    <div class="card shadow-sm border-0 rounded-4">
        <div class="card-body p-4">
            <div class="table-responsive">
                <table class="table table-hover align-middle mb-0">
                    <thead class="bg-light">
                        <tr>
                            <th scope="col">#id</th>
                            <th scope="col">Ref°</th>
                            <th scope="col">Designation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of categories">
                            <th scope="row">{{ user._id }}</th>
                            <td>{{ user.ref }}</td>
                            <td>{{ user.designation }}</td>
                            <td class="text-end">
                                <button class="btn btn-sm btn-outline-primary me-2" (click)="editCategory(user._id)" title="Modifier">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div *ngIf="categories.length === 0" class="alert alert-info mt-4 text-center">
                Aucun catégorie à afficher.
            </div>
        </div>
    </div>
</div>


