/* Style pour les boîtes d'icônes */
.icon-box {
    width: 64px;
    height: 64px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

/* Effet discret sur les colonnes au survol */
.feature-item {
    transition: all 0.3s ease;
    border-radius: 15px;
}

.feature-item:hover {
    background-color: #f8f9fa;
    transform: translateY(-5px);
}

/* Ajustement pour PrimeIcons */
.pi {
    font-size: 1rem;
}

/* Cercles pour les icônes de contact */
.icon-circle {
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.1); /* Fond blanc très transparent */
    border-radius: 8px; /* Carré arrondi moderne */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0d6efd; /* Ta couleur primaire (bleu Bootstrap) */
    transition: all 0.3s ease;
}

/* Effet au survol de la ligne */
li:hover .icon-circle {
    background: #0d6efd;
    color: white;
    transform: scale(1.1);
}

.hover-white:hover {
    color: white !important;
    transition: 0.3s;
}

.pointer {
    cursor: pointer;
}